body {
  background-color: #292f31;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.texts {
  display: inline-block;
  vertical-align: middle;
  transform: translateY(50%);
  bottom: 0;
}

.coming-soon {
  font-size: 2em;
}

.organization-name {
  font-size: 4em;
}

.coming-soon-text {
  display: inline;
}

.coming-soon-text,
.coming-soon-list {
  display: inline-block;
  padding: 0;
  margin: 0;
  height: 20px;
  overflow-y: hidden;
  line-height: 2em;
}

.coming-soon-list {
    list-style-type: none;
}

.coming-soon,
.coming-soon-list,
.coming-soon-item,
.coming-soon-text {
  height: 2em;
}

.coming-soon-list,
.coming-soon-item,
.coming-soon-text {
  line-height: 2em;
  font-size:1em;
  vertical-align: middle;
}

.coming-soon-item {
  text-align: left;
}

.coming-soon-item {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}


@-webkit-keyframes rotate {
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-100%);}
  34%,46% {transform:translateY(-200%);}
  51%,63% {transform:translateY(-300%);}
  68%,80% {transform:translateY(-400%);}
  85%,97% {transform:translateY(-500%);}
}

@keyframes rotate {
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-100%);}
  34%,46% {transform:translateY(-200%);}
  51%,63% {transform:translateY(-300%);}
  68%,80% {transform:translateY(-400%);}
  85%,97% {transform:translateY(-500%);}
}
